---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/Description.astro";
import UploadButton from "../components/UploadButton.astro";
import Results from "../components/Results.astro";

const results = { pattern: 10 };
// const results = undefined;
---

<Layout title="Columba">
  <Header />
  <main>
    <div class="hero">
      <Description />
      <UploadButton />
    </div>
    {results ? <Results result={results} /> : null}
  </main>
</Layout>

<style>
  main {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;

    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 344px);
    row-gap: 60px;

    @media (min-width: 768px) {
      grid-template-columns: minmax(0, 600px);
    }

    @media (min-width: 1024px) {
      align-items: start;
      grid-template-columns: minmax(0, 1024px);
      row-gap: 80px;
    }
  }

  .hero {
    display: grid;
    row-gap: 40px;
    justify-items: center;

    @media (min-width: 768px) {
      justify-items: start;
      row-gap: 24px;
    }

    @media (min-width: 1024px) {
      align-items: center;
      grid-auto-flow: column;
      grid-template-columns: 600px 400px;
      column-gap: 24px;
    }
  }
</style>
