---
const { result } = Astro.props;
const { pattern } = result;

const windowCount = 28;
function getColor(index: number, isSuccess: boolean) {
  const forth = windowCount / 4;
  if (index < forth || index >= windowCount - forth) {
    return isSuccess ? "#D9D9D9" : "#F95D51";
  } else {
    return isSuccess ? "#62C584" : "#D9D9D9";
  }
}

const restPattern = 100 - pattern;
const columns = `${pattern}fr ${restPattern}fr`;

const isSuccess = pattern > 50;

const patternItems = [
  { color: isSuccess ? "#62C584" : "#F95D51" },
  { color: "#D9D9D9" },
];

const windowItems = Array.from({ length: windowCount }, (_, i) => ({
  color: getColor(i, isSuccess),
}));
---

<section class="results">
  <div class="result">
    <p class="result__title">{pattern}%</p>
    <p class="result__description">Ferning Pattern</p>
    <div class="pattern-stats">
      {
        patternItems.map(({ color }) => {
          return <span class="stat" style={{ background: color }} />;
        })
      }
    </div>
  </div>
  <div class="result">
    <p class="result__title">{isSuccess ? "Yes" : "No"}</p>
    <p class="result__description">Fertile Window</p>
    <div class="window-stats">
      {
        windowItems.map(({ color }) => {
          return <span class="stat" style={{ background: color }} />;
        })
      }
    </div>
  </div>
</section>
<style define:vars={{ columns }}>
  .results {
    display: grid;
    gap: 24px;

    @media (min-width: 1024px) {
      grid-auto-flow: column;
    }
  }

  .result {
    display: grid;
    row-gap: 16px;

    border-radius: 8px;

    background: #f7f7f7;
    color: #252525;

    padding: 60px 24px;

    @media (min-width: 768px) {
      padding: 60px 80px;
    }
  }

  .result__title {
    margin: 0;
    font-size: 60px;
    line-height: 120%;
  }

  .result__description {
    margin: 0;
    font-size: 18px;
    line-height: 120%;
  }

  .pattern-stats {
    display: grid;
    grid-template-columns: var(--columns);
    column-gap: 2px;
  }

  .window-stats {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2px;
  }

  .stat {
    height: 4px;
    border-radius: 2px;
  }
</style>
