<button class="upload-button">Upload Photo Here</button>
<style>
  .upload-button {
    cursor: pointer;

    padding: 0;
    padding-left: 68px;
    padding-right: 68px;

    border: 1px dashed #bfbfbf;
    border-radius: 50%;

    color: rgba(37, 37, 37, 0.5);
    background-color: transparent;

    width: 300px;
    height: 300px;
    aspect-ratio: 1;

    font-size: 24px;
    line-height: 120%;
  }

  @media (min-width: 1024px) {
    .upload-button {
      padding-left: 118px;
      padding-right: 118px;

      width: 400px;
      height: 400px;
    }
  }
</style>
